<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShowcasePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShowcasePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShowcasePlugin.Properties.Settings>
            <setting name="BonusPayment" serializeAs="String">
                <value>Бонусы Plazius</value>
            </setting>
            <setting name="Pin" serializeAs="String">
                <value>0000</value>
            </setting>
        </ShowcasePlugin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ShowcasePlugin.Properties.Settings>
            <setting name="CardPayment" serializeAs="String">
                <value>Мобильный платеж</value>
            </setting>
        </ShowcasePlugin.Properties.Settings>
    </applicationSettings>
</configuration>